{{ define "shop/category" }}

{{ set . "title" .title }}
{{ template "_partial/head" .}}
{{ template "_partial/navbar" .}}

<div class="container main">
	{{ range .invitations }}
	{{ $img := (index .Images 0)}}
	<div class="card invitation">
		<img class="card-img-top" src="{{ $img.URL }}" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">
				<a href="/producto/{{.ID}}">{{ .Name }}</a>
			</h5>
			<p class="card-text">{{ .ShortDesc }}</p>
			<button id="add-to-cart" data-id="{{.ID}}" class="btn btn-primary"><i></i>Agregar al carrito</button>
		</div>
	</div>
	{{ end }}

</div>
<div class="contact footer">
	{{ template "_partial/footer" .}}
</div>
<script>
	$("#add-to-cart").click(function(){
		let params = {
			"invitationID": $("#add-to-cart").attr("data-id")
		}
		$.ajax({
			data: params,
			url: "/carrito/",
			type: "post",
			beforeSend: function() {
				$("#add-to-cart").html("<i></i>");
				$("#add-to-cart i").addClass("fa fa-spinner fa-spin")
			},	
			complete: function() {
				setTimeout(function(){
					$("#add-to-cart").text("Agregar al carrito");
				}, 500)
			}
		})
	})
</script>
{{ template "_partial/scripts" }}
{{ end }}
