*{
	box-sizing: border-box !important;
}

.container {
	max-width: 100%;
	height: 100%;
}

.container.main {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}

.banner {
	background:
		linear-gradient(
			rgba(0,0,0,0.7),
			rgba(0,0,0,0.7)
		),
		url('/static/img/background.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.banner .container {
	display: flex;
	flex-flow: column;
}

.navbar.top{
	width: 100% !important;
	min-height: 80px;
	box-shadow: 0px 1px 10px 0 rgba(0,0,0,0.15);
	z-index: 1000;
	padding: 5px 10px;
}

.navbar.top .navbar-brand {
	margin-left: 80px;
}

.banner .container .main-screen {
	flex: 1;
}

.banner .container .main-screen .col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner .container .main-screen .col .row {
	width: 100%;
}

.banner .container .main-screen .title {
	display: flex;
	justify-content: center;
}

.banner .container .main-screen .title .col h2 {
	text-align: center;
	font-size: 2.3rem;
}

.banner .container .main-screen .welcome{
}

.banner .container .main-screen .welcome .col {
	margin: 0;
	padding: 35px 0;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.banner .container .welcome .col button {
	padding: 15px;
	font-size: 16px;
	width: 130px;
	border-radius: 4px;
}

.banner .container .welcome .col button:first-child {
	margin-right: 15px;
}
.banner .container .welcome .col button:last-child {
	margin-left: 15px;
}

.banner .container .more-info .col {
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner .container .more-info .col a {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner .container .more-info .col a:hover {
	text-decoration: none;
}

.contact .com-ways .social-media .col {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact .com-ways .social-media .col:last-child {
	flex-direction: column;
}

.contact .com-ways .social-media .col:last-child a{
	margin: 0 10px;
}

.contact .com-ways .social-media .col .as {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.contact .com-ways .social-media .col a {
	color: #999;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact .com-ways .social-media .col a i{
	font-size: 22px;
}

.contact .com-ways .social-media span {
	margin-top: 20px;
	text-align: center;
}

.contact .form-contact {
	width: 95%;
}

.contact .form-contact form .col {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.contact .form-contact form .col .form-control{
	border-radius: 5px;
}

.contact .form-contact form .col select {
	padding: 0.75rem 2rem;
	border-radius: 5px;
}

.contact .form-contact form input {
	border-radius: 5px;
}

.contact .form-contact form .col .custom-file label::after {
	content: "Examinar";
}

.contact .form-contact form .col:last-child {
	padding-top: 30px !important;
}

.contact.footer {
	padding-top: 20px;
	position: relative;
	width: 100%;
	bottom: 0;
}

.card.invitation {
	margin: 0 10px;
}

.btn {
	word-wrap: break-word;
	white-space: normal;
}

div.table-cart {
	width: 100%;
}

div.table-cart table {
	min-width: 500px;
}

div.table-cart table td {
	vertical-align: middle;
	padding: 10px;
}
div.table-cart table td .delete-item {
	color: #cc1111;
	width: 100%;
}
div.table-cart table td input.quantity {
	width: 70px;
}

div.table-cart table td input.form-control {
	max-width: 400px;
	display: inline-block;
}

div.table-total {
	width: 100%;
	max-width: 600px;
}

@media (min-width: 350px) {
	.card.invitation {
		width: calc(100% - 20px);
	}
}

@media (min-width: 520px) {
	.form-contact {
		max-width: 100%;
		padding: 10px;
	}
	.card.invitation {
		width: calc(50% - 20px);
	}
}

@media (min-width: 768px) {
	.form-contact {
		width: 700px;
	}
	.card.invitation {
		width: calc(33% - 20px);
	}
}

@media (min-width: 992px) {
	.form-contact {
		width: 950px;
	}
	.card.invitation {
		width: calc(25% - 20px);
	}
}

@media (min-width: 1200px) {
	.form-contact {
		width: 1150px;
	}
}
