{{ define "cart/index" }}

{{ set . "title" "Carrito"}}
{{ template "_partial/head" .}}
{{ template "_partial/navbar" .}}
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorUpdateCartModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="errorUpdateCartModal">Error al actualizar tu carrito</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Hubo un error al actualizar tu carrito. Intenta de nuevo en unos momentos.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<div class="container main">
	<div class="table-responsive-md table-cart">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">Nombre</th>
					<th scope="col">Precio</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Total</th>
				</tr>
			</thead>
			{{ $CSRFToken := .CSRFToken }}
			{{ range .cart.CartItems }}
			<tr>
				<td>
					<a class="btn btn-secondary delete-item" href="/carrito/borrar" data-item-id="{{.ID}}" data-token="{{ $CSRFToken }}">
						<i class="fas fa-times"></i>
					</a>
				</td>
				<td scope="row"><a href="#">{{ .Invitation.Name }}</a></td>
				<td>{{ .Invitation.Price }}</td>
				<td>
					<input data-token="{{ $CSRFToken }}" data-price="{{.Invitation.Price }}" data-item-id="{{.ID}}" name="quantity" class="quantity" type="number" value="{{ .Quantity }}" min="0">
				</td>
				<td class="total-item">
					{{ .Total }}
				</td>
			</tr>
			{{ end }}
			<tr>
				<td colspan="5">
					<form action="/carrito/cupon" method="post">
						<input type="hidden" name="token" value="{{ .CSRFToken }}">
						<input class="form-control" type="text" name="coupon" placeholder="Cupón">
						<input class="btn btn-secondary" type="submit" value="Aplicar cupón">
					</form>
				</td>
			</tr>
		</table>
	</div>
	<div class="table-responsive-md table-total">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>Total</th>
					<td class="total-value"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-12">
			<a href="/pagar/info?token={{ $CSRFToken }}" class="btn btn-primary">Proceder con pago</a>
		</div>
	</div>
</div>
<div class="footer contact">
	{{ template "_partial/footer" .}}
</div>
{{ template "_partial/scripts" }}
<script>
	function updateTotal() {
		let total = 0;
		for(let i = 0; i < $("input.quantity").length; i++) {
			$("input.quantity").eq(i).data("prev", $("input.quantity")[i].value);
			total += $("input.quantity")[i].value * $("input.quantity").eq(i).attr("data-price");
		}
		$(".total-value")[0].innerText = total;
	}
	updateTotal();
	$("input.quantity").on("focus", function(){
		previousVal = $(this).val();
	}).change(function(){
		let thisEl = $(this);
		$.ajax({
			data: {
				itemID: $(this).attr("data-item-id"),
				token: $(this).attr("data-token"),
				quantity: $(this).val()
			},
			url: "/carrito/actualizar",
			method: "POST",
			error: function() {
				$("#errorModal").modal();
				thisEl.val(thisEl.data("prev"));
			},
			success: function() {
				let price = parseInt(thisEl.attr("data-price"));
				let parent = thisEl.closest("tr");
				let totalEl = parent.children().last("td");
				totalEl.text(price * parseInt(thisEl.val()));
				updateTotal();
			}
		});
	});
	$(".delete-item").click(function(e){
		e.preventDefault();
		let thisEl = $(this);
		$.ajax({
			data: {
				token: thisEl.attr("data-token"),
				itemID: thisEl.attr("data-item-id")
			},
			url: thisEl.attr("href"),
			method: "POST",
			error: function() {
				$("#errorModal").modal();
			},
			success: function() {
				thisEl.closest("tr").remove();
				fixFooter();
			}
		});
	});
</script>
{{ end }}
