{{ define "checkout/info" }}
{{ set . "title" "Información de pago" }}
{{ template "_partial/head" .}}
{{ template "_partial/navbar" .}}

<div class="container main">
	<form action="/pagar/finalizar">
		<div class="form-group">
			<label for="name">Nombre: </label>
			<input class="form-control" id="name" type="text" name="name">
			<label for="lastName">Apellido: </label>
			<input class="form-control" id="lastName" type="text" name="lastName">
		</div>
		<div class="form-group">
			<label for="address">Dirección de la calle: </label>
			<input class="form-control" id="address" type="text" name="address">
		</div>
		<div class="form-group">
			<label for="city">Localidad/Ciudad</label>
			<input class="form-control" id="city" type="text" name="city">
		</div>
		<div class="form-group">
			<label for="state">Estado: </label>
			<select class="custom-select" id="state" name="state">
				<option value="DIF">Distrito Federal</option>
				<option value="AGS">Aguascalientes</option>
				<option value="BCN">Baja California</option>
				<option value="BCS">Baja California Sur</option>
				<option value="CAM">Campeche</option>
				<option value="CHP">Chiapas</option>
				<option value="CHI">Chihuahua</option>
				<option value="COA">Coahuila</option>
				<option value="COL">Colima</option>
				<option value="DUR">Durango</option>
				<option value="GTO">Guanajuato</option>
				<option value="GRO">Guerrero</option>
				<option value="HGO">Hidalgo</option>
				<option value="JAL">Jalisco</option>
				<option value="MEX">M&eacute;xico</option>
				<option value="MIC">Michoac&aacute;n</option>
				<option value="MOR">Morelos</option>
				<option value="NAY">Nayarit</option>
				<option value="NLE">Nuevo Le&oacute;n</option>
				<option value="OAX">Oaxaca</option>
				<option value="PUE">Puebla</option>
				<option value="QRO">Quer&eacute;taro</option>
				<option value="ROO">Quintana Roo</option>
				<option value="SLP">San Luis Potos&iacute;</option>
				<option value="SIN">Sinaloa</option>
				<option value="SON">Sonora</option>
				<option value="TAB">Tabasco</option>
				<option value="TAM">Tamaulipas</option>
				<option value="TLX">Tlaxcala</option>
				<option value="VER">Veracruz</option>
				<option value="YUC">Yucat&aacute;n</option>
				<option value="ZAC">Zacatecas</option>
			</select>					
		</div>
		<div class="form-group">
			<label for="postal-code">Código postal: </label>
			<input class="form-control" id="postal-code" type="text" name="postal-code">
		</div>
		<div class="form-group">
			<label for="phone-number">Teléfono: </label>
			<input class="form-control" id="phone-number" type="text" name="phone-numer">
		</div>
		<div class="form-group">
			<label for="email">Correo electrónico</label>
			<input class="form-control" id="email" type="text" name="email">
		</div>
		<div class="form-group">
			<label for="more-info">Información adicional: </label>
			<textarea class="form-control" id="email" name="email"></textarea>
		</div>
	</form>
</div>

<div class="footer contact">
	{{ template "_partial/footer" .}}
</div>
{{ template "_partial/scripts" }}
{{ end }}
