{{ define "home/index" }}
{{ set . "title" "Invitaciones Encanto - Invitaciones Boda y XV Años"}}
{{ template "_partial/head" .}}
<link rel="stylesheet" href="/static/css/index.css" media="all">
<div class="banner">
	<div class="container">
		<div class="row">
			{{ template "_partial/navbar" . }}
		</div>
		<div class="main-screen row">
			<div class="col col-12">
				<div class="row title">
					<div class="col col-12">
						<h2 class="text-white">Invitaciones Encanto</h2>
					</div>
				</div>
				<div class="row welcome">
					<div class="col col-12">
						<a href="/tienda/xv"><button class="btn btn-danger xv">XV</button></a>
						<a href="/tienda/boda"><button class="btn btn-danger boda">Boda</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="more-info row">
			<div class="col col-12">
				<a href="#info" class="text-white" id="scroll-screen">
					<span>¿Quieres cotizar una invitación? Haz click aquí</span>
					<i class="fa fa-angle-down"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="contact" id="info">
	{{ template "_partial/footer" }}
	<div class="container form-contact">
		<form action="/" class="row">
			<div class="col col-12 col-sm-6 col-md-4">
				<input class="form-control" type="text" name="name" placeholder="Nombre">
			</div>
			<div class="col col-12 col-sm-6 col-md-4">
				<input class="form-control" type="text" name="email" placeholder="Correo electrónico">
			</div>
			<div class="col col-12 col-sm-6 col-md-4">
				<select class="custom-select" name="subject">
					<option value="cotizacion" selected>Cotización</option>
					<option value="duda">Duda</option>
					<option value="sugerencia">Sugerencia</option>
					<option value="queja">Queja</option>
				</select>
			</div>
			<div class="col col-12">
				<textarea class="form-control" name="message" rows="10" placeholder="Mensaje..."></textarea>
			</div>
			<div class="col col-12">
				<div class="custom-file">
					<input class="custom-file-input" id="inputGroupFile02" type="file">
					<label class="custom-file-label" for="inputGroupFile02">Escoge un archivo</label>
				</div>
			</div>
			<div class="col col-12">
				<input type="submit" value="Enviar" class="btn btn-primary">
			</div>
		</form>
	</div>
</div>
<script src="/static/js/main.js"></script>
{{ template "_partial/scripts" }}
{{ end }}
