{{ define "_partial/footer" }}
<div class="container com-ways bg-primary">
	<div class="row social-media">
		<div class="col col-12 col-sm-6 col-lg-3">
			<a href="https://goo.gl/maps/Xs6tJnPsiAq">
				<i class="fa fa-map-marker-alt"></i>
				<span>
					Cuauhtémoc 215, Centro, San Nicolás de los Garza, N.L., Mx.
				</span>
			</a>
		</div>
		<div class="col col-12 col-sm-6 col-lg-3">
			<a href="mailto: invitacionesencanto@gmail.com">
				<i class="fa fa-envelope"></i>
				<span>invitacionesencanto@gmail.com</span>
			</a>
		</div>
		<div class="col col-12 col-sm-6 col-lg-3">
			<a href="tel: +52 81 17396733">
				<i class="fa fa-phone"></i>
				<span>+52 81 17396733</span>
			</a>
		</div>
		<div class="col col-12 col-sm-6 col-lg-3">
			<div class="as">
				<a href="https://www.facebook.com/encantoinvitaciones/">
					<i class="fab fa-facebook"></i>
				</a>
				<a href="https://www.instagram.com/invitacionesencanto/">
					<i class="fab fa-instagram"></i>
				</a>
			</div>
			<span>Invitaciones Encanto</span>	
		</div>
	</div>
</div>

{{ end }}
