{{ define "_partial/navbar" }}
<nav class="navbar top navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img src="/static/img/logo-negro.png" alt="Invitaciones Encanto" width="110">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="navbar-collapse collapse" id="navbarTop">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Inicio</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="tiendaDropdown" role="button" data-toggle="dropdown" href="#">
					Tienda
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/tienda/xv">Xv</a>
					<a class="dropdown-item" href="/tienda/boda">Boda</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/carrito">Carrito</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/blog">Blog</a>
			</li>
		</ul>
	</div>
</nav>
{{ end }}
